/* establishing custom fonts as a font family*/
@font-face {
    font-family: C2;
    src: url(fonts/C2.ttf);
}
@font-face {
    font-family: C3;
    src: url(fonts/C3.ttf);
}

/* color variables*/
:root{
    --medium-green-color: #ACC8B6;
    --light-green-color: #CFE1D5;
    --medium-orange-color: #EBB27E;
    --light-orange-color: #F0C9A4;
    --light-cream-color: #FFF2E7;
    --light-pink-color: #EAAF9C;
    --dark-green-color: #426445;
}

body{
    font-family: C2, sans-serif;
    margin: 0;
    color: var(--light-cream-color)
}
.main-image-background{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FAE8D7;
    background-image: url(images/castlepic2.png);
    width: 100vw;
    height: 85vh;
}
/* .main-image-container{
    width: 100vw;
    height: 85vh;
    background-color: var(--light-cream-color);
    overflow: hidden;
} */
.title-rectangle{
    background: rgba(234, 175, 156, 0.5);
    padding: 10px;
    box-shadow: 0px 16px 19px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: 10vh;
    margin-right: -16vh;

}
.title-rectangle h1{
    font-size: 16vh;
    color: var(--light-cream-color);
    font-family: C2;
    font-weight: 400;
    margin-bottom: 0;
}
.title-rectangle p{
    font-size: 6vh;
    color: var(--light-cream-color);
    font-family: C3;
}
.buttons{
    padding: 2vh;
    display: flex;
    justify-content: space-between;

    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: 10vh;
    margin-right: -16vh;
}
.buttons a{
    text-decoration: none;
    color: var(--light-pink-color);
    background-color: var(--light-cream-color);
    font-family: C2;
    font-weight: 400;
    font-size: 4vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius:2.5vh;
    box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.25);
    
}

.qbb-image-container img{
    height: 100vh;
    width: 33vw;

}
.bottom-banner{
    background-color: var(--light-green-color);
    width: 100vw;
    height: 16vh;
}
.bottom-banner-light{
    background-color: var(--medium-green-color);
    height: 5vh;
    width: 100vw;
    margin-top: -1vh;
    box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.25);
}


